= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .login-image
    = image_tag 'Rectangle.png', class: 'topimage'
  .field
    = f.label :username, class: 'text' 
    %br/
    = f.text_field :username, autocomplete: "username", class: 'loginform'
  .field
    = f.label :email, class: 'text'
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'loginform'
  .field
    = f.label :password, class: 'text'

    %br/
    = f.password_field :password, autocomplete: "new-password", class: 'loginform'
  -# .field
  -#   = f.label :password_confirmation
  -#   %br/
  -#   = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit "CREATE ACCOUNT"
    = render "devise/shared/links"
