.container#article{ data: {article_id: @article.id}}
  .card
    .card_detail
      = link_to account_path(@article.user) do
        - if @article.user.profile&.avatar
          = image_tag @article.user.profile.avatar
        - else
          = image_tag 'default.png'
        %div
          %p= @article.user.display_name
          %p= @article.display_created_at
    .card_image
      - if @article.images.attached?
        - @article.images.each do |image|
          = image_tag image
      - else
        = image_tag 'eyecatch1.png'
    .card_content
      %p= @article.content
      .card_heart
        - if user_signed_in?
          .article_heart.hidden.active_heart
            = image_tag 'like.png'
          .article_heart.hidden.inactive_heart
            = image_tag 'unlike.png'
      .card_comment
        = link_to new_article_comment_path(@article) do
          = image_tag 'comment.png'    
      - if user_signed_in? && current_user.has_written(@article)
        .article.detail_actions.dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content-mini
            = link_to '編集する', edit_article_path(id: @article.id)
            = link_to '削除する', article_path(id: @article.id), data: { method: 'delete', confirm: '本当に削除しますか'}

    .article
      %h2 コメント一覧
      .comments_container

      .container
        .btn_secondry.show_comment_form
          コメントを追加
        .comment_text_area.hidden
          = text_area_tag :comment_content, '', class: 'sm'
          .btn_secondry.add_comment_button
            コメントを追加

    

= javascript_pack_tag 'article'