.container.profilePage#profile{ data: {user_id: user.id} }
  .profilePage_user
    .profilePage_user_name
      %p= user.username
    .profilePage_user_image
      = image_tag user.avatar_image
    - if current_user == user
      .profile_logout
        = link_to 'LOG OUT', destroy_user_session_path, data: { method: 'delete' }, class: 'profile_btn'
    - else     
      .profilePage_follow_button.profile_btn
        .user_value.unfollow.hidden
          %p UnFollow
        .user_value.follow.hidden
          %p Follow
    .profile_user_actionBtn
      .user_posts
        .posts_counts
          - if current_user.articles.exists?
            = link_to article_path(@article) do
              %span= user.articles_count
              %p Posts
          - else
            %span= user.articles_count
            %p Posts
      .user_follow-follower_button
        .user_followers
          .followers_counts
            = link_to account_followers_path(user) do
              %span= user.followers.count
              %p Followers
        .user_Following
          .followings_counts
            = link_to account_followings_path(user) do
              %span= user.followings.count
              %p Following
      .user_likes
        .likes_counts
          = link_to favorites_path do
            %span= user.likes_count
            %p Likes
    .profilePage_user_basicInfo
      .profilePage_user_nickname 
        = user.display_name
      .profilePage_user_introduction
        = user.display_introduction
    - if current_user == user
      .profilePage_user_editbtn
        = link_to '編集', edit_profile_path


  .card_many
    - user.articles.each do |article|
      = link_to article_path(article) do
        .card_image
          - if article.images.attached?
            = image_tag article.images.first
          - else
            = image_tag 'eyecatch1.png'    
  

= javascript_pack_tag 'profile'