!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Inistagram
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

  %body
    %header.header
      - if user_signed_in?
        .header_right_btn
          = link_to new_article_path do
            .float_btn_post
              = image_tag 'camera.png'
          = link_to root_path do
            .float_btn_home
              = image_tag 'home.jpeg', width:30
          = link_to profile_path do
            = image_tag 'profile.png', width:30
            .header_btn_timeline
              = link_to 'TL', timeline_path
        .header_left_btn
          - if !current_page?(root_path)
            = link_to :back do
              = image_tag 'arrow.png'
    - if flash.present?
      .flash 
        - flash.each do |key, value|
          %div{:class => key}= value
    = yield
